.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px #cacaca;
}

.table-title {
    border-radius: 5px;
    color: white;
}


/* ----------------check box start----------------------------------------- */


/* Hide the default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: flex;
    gap: 10px;
}


/* Create a custom checkbox */

.checkmark {
    position: relative;
    box-shadow: rgb(255, 84, 0) 0px 0px 0px 2px;
    background-color: rgb(255, 209, 209);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container input:checked~.checkmark {
    box-shadow: rgb(0, 209, 10) 0px 0px 0px 2px;
    background-color: rgb(118, 255, 127);
    height: 20px;
    width: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: -1px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    transform-origin: 0px 10px;
    border-radius: 4px;
    margin: -1px 10px 0px 0px;
    padding: 0px;
    box-sizing: border-box;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.4em;
    height: 0.6em;
    border: solid rgb(0, 0, 0);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    transition: all 500ms ease-in-out;
}


/* ----------------check box end----------------------------------------- */


/* ----------------modal start----------------------------------------- */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 5%;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal--content {
    /* position: relative; */
    background-color: #fefefe;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 1s
}


/* Add Animation */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ----------------modal end----------------------------------------- */

.product-title {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.img-preview {
    max-width: 350px !important;
    max-height: 250px;
    object-fit: contain;
}